* {
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 240px);
    grid-template-rows: repeat(2, 260px);
    grid-auto-rows: 260px;
    gap: 60px;
    width: 1140px;
    margin: 82px auto 0 auto;
}

.grid-elem__descr {
    font-family: "Roboto", sans-serif;
    margin-top: 15px;
    color: #000;
    font-weight: 500;
    font-size: 14px;
}

.grid-elem__img {
 g   width: 100%;
}